.panel {
  display: flex;
  margin: 15px;
}
.panel-btn {
  background-color: #1b4a61;
  color: #fefefe;
  border: none;
  border-radius: 5px;
}
.panel-btn:active {
  border: none;
}
.offcanvas.offcanvas-start {
  display: flex;
  flex-direction: column;
  background-color: #1b4a61;
  width: 200px;
  width: 250px;
  color: #fefefe;
}

.offcanvas-header {
  padding: 10px 15px;
}
.modal-header,
.modal-footer {
  border: none;
}
.modal-content {
  background: #1b4a61;
  color: #fefefe;
}
.form-control {
  resize: none;
}
.btn-primary,
.btn-primary:hover {
  background: #2d79a0;
  border: none;
}
.btn-secondary,
.btn-secondary:hover {
  background: #143647;
  border: none;
}
