* {
  cursor: default;
  box-sizing: border-box;
  margin: auto;
  font-size: 100%;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.body {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
}

.project-name {
  color: #e7f0fd;
  font-weight: 500;
  font-size: 50px;
}

.header {
  display: flex;
  height: 250px;
  /*background-color: bisque;*/
}

.title {
  color: #e7f0fd;
  margin-bottom: -50px;
  font-size: 22px;
  font-weight: 400;
}

.sign-in-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  width: 100%;
  height: 390px;
  max-width: 420px;
  margin: 70px auto;
  background-color: #1b4a61;
}

.input {
  color: #e7f0fd;
  display: block;
  padding: 15px 0 5px 0;
}

.input-wrapper {
  color: #e7f0fd;
  display: block;
  padding: 15px 0 5px 0;
}

.input-text {
  cursor: text;
  width: 300px;
  text-indent: 6px;
  height: 30px;
  border: 1px solid #1e4e66;
  border-radius: 5px;
  background-color: #e7f0fd;
  box-shadow: -2px 4px 5px #1e4e66;
}

.input-text:required:valid {
  outline: none;
  background-color: #e7f0fd;
  box-shadow: -2px 4px 5px #1e4e66;
}

.input-text:focus:required:invalid {
  outline: none;
  background-color: #ffd2d2;
  box-shadow: -2px 4px 5px #1e4e66;
}

.password-wrapper {
  position: relative;
  display: block;
}

.password-button {
  top: 8px;
  right: 5px;
  position: absolute;
  border: none;
  background: none;
}

.password-icon {
  cursor: pointer;
}

.submit-button {
  color: #e7f0fd;
  cursor: pointer;
  font-size: 18px;
  height: 30px;
  width: 220px;
  border: 1px solid #1e4e66;
  border-radius: 8px;
  background-color: #0e384d;
  box-shadow: -2px 3px 3px #1e4e66;
}

.submit-button:hover {
  border: 1px solid #12435c;
  border-radius: 8px;
  background-color: rgb(14, 51, 70);
  box-shadow: -2px 0 7px 4px #1e4e66;
  cursor: pointer;
}

.info-text {
  color: #e7f0fdbd;
  font-size: 13px;
  font-weight: 400;
}

.entry-link {
  cursor: pointer;
  color: #3188b4;
  font-weight: 500;
  text-decoration: none;
  margin: 0 7px;
}
